:local(.container)
  font-size: 20px
  display flex
  height: 100%

:local(.sidebarWrap)
  height: 100%

:local(.content)
  flex 1
  padding: 40px
  display flex
  flex-direction column
  align-items center

  div
    margin-top: 20px

:local(.header)
  padding 10px 20px
  width 100%
  height 40px
  display: flex
  align-items center
  border-bottom 1px solid #eee

:local(.logo)
  width 30px
  height 30px
  border-radius 50%
  background url(asset/star.png)
  background-size cover

:local(.name)
  margin-left 20px
  font-weight 500
